*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.heading{
    color: white;
    font-size:  70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    font-weight: 700px;
    /* margin: 20px; */
  

}



.container{
    width: 100vw;
    height: 70vh;
    background-image:url(./image/images.jfif);
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}